@using InterserviceApp.Models
@model LoginViewModel
@{
    ViewBag.Title = "Login";
}

<head>
    <link href="~/Content/login.css" rel="stylesheet" type="text/css" />
</head>

    <div class="fullContainer">
        <section class="sectionContainer">
            <div class="topBar">
                <h2 align="center">@ViewBag.Title</h2>
            </div>
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "formBegin", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "" })
                <div class="inputField">
                    @Html.LabelFor(m => m.Email, new { @class = "labelText" })
                    <div class="">
                        @Html.TextBoxFor(m => m.Email, new { @class = ""})
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "dangerText" })
                    </div>
                </div>
                <div class="inputField">
                    @Html.LabelFor(m => m.Password, new { @class = "labelText" })
                    <div>
                        @Html.PasswordFor(m => m.Password, new { @class = "" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "dangerText" })
                    </div>
                </div>
                @*<div>
                    <div>
                        <div>
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>*@
                <div class="inputField btnInput">
                    <div>
                        <input class="btn btn-primary register" type="submit" value="Login"/>
                    </div>
                </div>
            }
        </section>
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}