@model InterserviceApp.Models.is_StaffClass

@{
    ViewBag.Title = "ApproveStaffClassSingle";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Class.room)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Staff.fName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.approved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.endDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th></th>
    </tr>


    <tr>
        <td>
            @Html.DisplayFor(model => model.Class.Course.courseCode)
        </td>
        <td>
            @Html.DisplayFor(model => model.Staff.fName)
        </td>
        <td>
            @Html.DisplayFor(model => model.approved)
        </td>
        <td>
            @Html.DisplayFor(model => model.endDate)
        </td>
        <td>
            @Html.DisplayFor(model => model.status)
        </td>
    </tr>


</table>


@using (Html.BeginForm("ApproveStaffClassSingle", "Class", FormMethod.Post))
{
    <input type="hidden" name="id" value="@Model.id" />
    <input type="submit" name="approve" id="approve" value="Approve" />
    <input type="submit" name="deny" id="deny" value="Deny" />
}