@model InterserviceApp.Models.is_Class

@{
    ViewBag.Title = "Delete";
}

<div class="regBackground"></div>

<div class="registerContainer">
    <h1 class="registerTitle" align="center">Delete Class</h1>
    <hr class="hrRegister" />

    <div class="regLeft">
        <span>@Html.DisplayNameFor(model => model.Course.courseCode):</span>
        <span>@Html.DisplayFor(model => model.Course.courseCode)</span>
    </div>

    <div class="regRight">
        <span>@Html.DisplayNameFor(model => model.Course.desc):</span>
        <span>@Html.DisplayFor(model => model.Course.desc)</span>
    </div>

    <div class="regLeft">
        <span>@Html.DisplayNameFor(model => model.date):</span>
        <span>@Html.DisplayFor(model => model.date)</span>
    </div>

    <div class="regRight">
        <span>@Html.DisplayNameFor(model => model.startTime):</span>
        <span>@Html.DisplayFor(model => model.startTime)</span>
    </div>

    <div class="regLeft">
        <span>@Html.DisplayNameFor(model => model.room):</span>
        <span>@Html.DisplayFor(model => model.room)</span>
    </div>

    <div class="regRight">
        <span>@Html.DisplayNameFor(model => model.capacity):</span>
        <span>@Html.DisplayFor(model => model.capacity)</span>
    </div>

    <div class="regLeft">
        <span>@Html.DisplayNameFor(model => model.justification):</span>
        <span>@Html.DisplayFor(model => model.justification)</span>
    </div>

    <div class="regRight">
        <span>@Html.DisplayNameFor(model => model.fees):</span>
        <span>@Html.DisplayFor(model => model.fees)</span>
    </div>

    <div class="regHTML">
       @using (Html.BeginForm())
       {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
       }
    </div>

    <div class="back-label">
        @Html.ActionLink("Back to List", "ClassPortal", "Home")
    </div>
</div>

<style>
    .back-label {
        padding-top: 15px;
    }

    .footer, .navbar {
        display: none;
    }

    body {
        background-color: rgba(0,0,0,0.50);
    }
</style>