@model InterserviceApp.Models.is_Class

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>is_Class</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course.courseCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.courseCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.startTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.startTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.room)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.room)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.capacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.justification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.justification)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fees)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fees)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.classID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
