@model IEnumerable<InterserviceApp.Models.is_Class>

@{
    ViewBag.Title = "Index";
}

<head>
    <link href="~/Content/tables.css" rel="stylesheet" type="text/css" />
    <script>
        function yesnoCheck() {
            if (document.getElementById('Physical').checked) {
                document.getElementById('physTable').style.display = 'block';
                document.getElementById('bbTable').style.display = 'none';

            } else {
                document.getElementById('physTable').style.display = 'none';
                document.getElementById('bbTable').style.display = 'block';
            }
        }

        function divTurn(thisEle, cID) {
            if (thisEle == cID && document.getElementById(thisEle).clientHeight == '45') {
                document.getElementById(thisEle).getElementsByClassName("secondBar")[0].style.display = 'inline-block';
                document.getElementById(thisEle).style.height = '160px';
            } else {
                document.getElementById(thisEle).style.height = '45px';
                document.getElementById(thisEle).getElementsByClassName("secondBar")[0].style.display = 'none';
            }
        }

        function divTurnBB(thisEle, cID) {
            if (thisEle == cID && document.getElementById(thisEle).clientHeight == '45') {
                document.getElementById(thisEle).getElementsByClassName("secondBar")[0].style.display = 'inline-block';
                document.getElementById(thisEle).style.height = '90px';
            } else {
                document.getElementById(thisEle).style.height = '45px';
                document.getElementById(thisEle).getElementsByClassName("secondBar")[0].style.display = 'none';
            }
        }

/**/</script>
</head>

@Html.ActionLink("Create a New Class", "Create", null, new { @class = "btn btn-primary register createClassBtn" }) 
@Html.ActionLink("View Old Classes", "OldClasses", null, new { @class = "btn btn-primary register" })

@using (Html.BeginForm())
{
    <input type="text" name="searchString" class="searchInput" value="" />
    <input type="submit" class="btn btn-primary asdasd" value="Search" />
}

<div class="radioBtns">
    <span>Physical <input type="radio" class="form-radio" onclick="yesnoCheck();" name="physblack" id="Physical" value="Physical" checked="checked" /></span>
    <span class="fr">Blackboard <input type="radio" class="form-radio" onclick="yesnoCheck();" name="physblack" id="Blackboard" value="Blackboard" /><br></span>
</div>

<div id="physTable">
    @foreach (var item in Model)
    {
        if (item.blackboard != true)
        {

            <div class="classContainer" onclick="divTurn(this.id, @item.classID);" id="@item.classID">
                <div class="topBarClass" align="center">
                    <div class="topBarSmall">
                        @Html.DisplayFor(modelItem => item.Course.desc) - @Html.DisplayFor(modelItem => item.Course.courseCode)
                    </div>
                    <div class="topBarSmall">
                        Date: @Html.DisplayFor(modelItem => item.date)
                    </div>
                    <div class="topBarSmall">
                        @if (item.approved == true)
                        {
                            @String.Format("Approved");
                        }
                        else if (item.approved == false)
                        {
                            @String.Format("Denied")
                        }
                        else
                        {
                            @String.Format("Not Approved")
                        }
                    </div>
                </div>
                <div class="secondBar" align="center" )>
                    <div class="secondBarStat">
                        <div><b>Justification:</b> @Html.DisplayFor(modelItem => item.justification)</div>
                        <div><b>Room:</b> @Html.DisplayFor(modelItem => item.room)</div>
                        <div><b>Capacity:</b> @Html.DisplayFor(modelItem => item.capacity)</div>
                        <div><b>Fees:</b> @Html.DisplayFor(modelItem => item.fees)$</div>
                        <div><b>Start Time:</b> @Html.DisplayFor(modelItem => item.startTime)</div>
                    </div>
                    <div class="thirdBarStat">
                        @Html.ActionLink("Edit", "Edit", new { id = item.classID }) |
                        @Html.ActionLink("Approve Class", "Approve", new { id = item.classID }) |
                        @Html.ActionLink("Attendance", "Attendance", new { id = item.classID }) |
                        @Html.ActionLink("Approve Staff", "ApproveStaffClass", new { id = item.classID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.classID })
                    </div>
                </div>
            </div>
        }
    }
</div>

<div id="bbTable" style="display:none">
    @foreach (var item in Model)
    {
        if (item.blackboard == true)
        {
            <div class="classContainer" onclick="divTurnBB(this.id, @item.classID);" id="@item.classID">
                <div class="topBarClass bbTop" align="center">
                    <div class="topBarSmall">
                        @Html.DisplayFor(modelItem => item.Course.desc) - @Html.DisplayFor(modelItem => item.Course.courseCode)
                    </div>
                    <div class="topBarSmall">
                        Hyperlink: @Html.DisplayFor(modelItem => item.hyperlink)
                    </div>
                    <div class="topBarSmall">
                        @if (item.approved == true)
                        {
                            @String.Format("Approved");
                        }
                        else if (item.approved == false)
                        {
                            @String.Format("Denied")
                        }
                        else
                        {
                            @String.Format("Not Approved")
                        }
                    </div>
                </div>
                <div class="secondBar" align="center">
                    <div class="thirdBarStat">

                        @Html.ActionLink("Edit", "Edit", new { id = item.classID }) |
                        @Html.ActionLink("Approve Class", "Approve", new { id = item.classID }) |
                        @Html.ActionLink("Attendance", "Attendance", new { id = item.classID }) |
                        @Html.ActionLink("Approve Staff", "ApproveStaffClass", new { id = item.classID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.classID })
                    </div>
                </div>
            </div>
        }
    }
</div>

@*<div id="physTable">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Course.courseCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.startTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.room)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.capacity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.justification)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.fees)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.approved)
                    </th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                if (item.blackboard == true)
                {

                }
                else
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Course.courseCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.startTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.room)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.capacity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.justification)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fees)
                    </td>
                    <td>
                        @if(item.approved == true)
                        {
                            @String.Format("Approved");
                        }
                        else if(item.approved == false)
                        {
                            @String.Format("Denied")
                        }
                        else
                        {
                            @String.Format("Not Approved")
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.classID }) |
                        @Html.ActionLink("Approve Class", "Approve", new { id = item.classID }) |
                        @Html.ActionLink("Attendance", "Attendance", new { id = item.classID }) |
                        @Html.ActionLink("Approve Staff", "ApproveStaffClass", new { id = item.classID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.classID })
                    </td>
                </tr>
                    }
                }

        </table>
    </div>*@

