@model InterserviceApp.Models.is_StaffClass

<head>
    <link href="~/Content/tables.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/classportal.css" rel="stylesheet" type="text/css" />
</head>

<div class="classPortalNav">
    <span>Class Report</span>
</div>

<div class="currentContentUser">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Class.date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Staff.fName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Staff.lName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.status)
                </th>
            </tr>
        </thead>
        
        @if (ViewBag.SC != null)
            {


                foreach (var item in ViewBag.SC)
                {
                    <tr>
                        <td>
                            @item.endDate.Date.ToString("d")
                        </td>
                        <td>
                            @item.Staff.fName
                        </td>
                        <td>
                            @item.Staff.lName
                        </td>
                        <td>
                            @item.status
                        </td>
                    </tr>
                }
            }
</table>
</div>