@model InterserviceApp.Models.is_Course

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>is_Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.courseCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.courseCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.desc)
        </dd>

    </dl>
</div>
@using (Html.BeginForm("Approve", "Class", FormMethod.Post))
{
    <input type="hidden" name="classID" value="@Model.classID" />
    <input type="submit" name="approve" id="approve" value="Approve" />
    <input type="submit" name="deny" id="deny" value="Deny" />
}
