@model IEnumerable<InterserviceApp.Models.is_Course>

@{
    ViewBag.Title = "Index";
}

<head>
    <link href="~/Content/classportal.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/tables.css" rel="stylesheet" type="text/css" />
</head>

<div class="classPortalNav">
    <span>Class Portal</span>
    <ul>
        <li>
            <a href="~/Home/ClassPortal" class="btn btn-primary btnNav">Class</a>
        </li>
        <li>
            <a href="~/Course/Index" class="btn btn-primary btnNav classBtn">Course</a>
        </li>
    </ul>
</div>

<div class="currentContentCourse">
    @Html.ActionLink("Create a New Course", "Create", null, new { @class = "btn btn-primary register createCourseBtn" })

    @using (Html.BeginForm())
    {
        <input type="text" class="searchInput" name="searchString" value="" />
        <input type="submit" class="btn btn-primary asdasd" value="Search" />
    }

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.courseCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.desc)
                </th>
                <th>
                    Required
                </th>
                <th></th>
            </tr>
        </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.courseCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.desc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.required)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.courseID }) |
                        @Html.ActionLink("Require", "Require", new { id = item.courseID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.courseID })
                    </td>
                </tr>
            }
</table>
</div>