@model IEnumerable<InterserviceApp.Models.is_Class>

@{
    ViewBag.Title = "HomeRegister";
}

<head>
    <link href="~/Content/home.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/classportal.css" rel="stylesheet" type="text/css" />
</head>

<script>
    function divTurn(thisEle, cID) {
        if (thisEle == cID && document.getElementById(thisEle).style.height == '40px') {
            document.getElementById(thisEle).style.height = 'auto';
            document.getElementById(thisEle).getElementsByClassName("middleBar")[0].style.display = 'inline-block';
        } else {
            document.getElementById(thisEle).style.height = '40px';
            document.getElementById(thisEle).getElementsByClassName("middleBar")[0].style.display = 'none';
        }
    }
</script>

<div class="classPortalNav">
    <span>Home Register</span>
</div>

<div class="currentContentClass currentContentCourse">

    <h2>Required Classes</h2>
    <hr class="topHR" />

    <div class="reqClassContainer">
        @foreach (var item in Model)
        {
        <div class="reqClassDiv" onclick="divTurn(this.id, @item.classID);" id="@item.classID">
            @*@Html.DisplayNameFor(model => model.Course.courseCode)*@
            @if (item.blackboard == true)
            {
                <div class="topBar" style="background-color:orangered">
                    <p style="text-align:left;">
                        @Html.DisplayFor(modelItem => item.Course.desc)
                        <span style="float:right;">@Html.DisplayFor(modelItem => item.Course.courseCode)</span>
                    </p>
                </div>
            }
            else
            {
                <div class="topBar">
                    <p style="text-align:left;">
                        @Html.DisplayFor(modelItem => item.Course.desc)
                        <span style="float:right;">@Html.DisplayFor(modelItem => item.Course.courseCode)</span>
                    </p>
                </div>
            }

                <div class="middleBar" id="middleBar">
                    @if (item.blackboard == true)
                    {
                        <div class="hyperlinkContainer">

                            <a href="@item.hyperlink">@item.hyperlink</a>

                        </div>
                    }
                    else
                    {
                        <div class="dateContainer">
                            @Html.DisplayNameFor(model => model.date):
                            @Html.DisplayFor(modelItem => item.date)
                        </div>
                        <div class="startTimeContainer">
                            @Html.DisplayNameFor(model => model.startTime):
                            @Html.DisplayFor(modelItem => item.startTime)
                        </div>

                        <div class="roomContainer">
                            @Html.DisplayNameFor(model => model.room):
                            @Html.DisplayFor(modelItem => item.room)
                        </div>

                        <div class="capacityContainer">
                            @Html.DisplayNameFor(model => model.capacity):
                            @Html.DisplayFor(modelItem => item.capacity)
                        </div>

                        <div class="justificationContainer">
                            @Html.DisplayNameFor(model => model.justification):
                            @Html.DisplayFor(modelItem => item.justification)
                        </div>

                        <div class="feesContainer">
                            @Html.DisplayNameFor(model => model.fees):
                            @Html.DisplayFor(modelItem => item.fees)$
                        </div>
                        @Html.ActionLink("Register", "Register", new { id = item.classID }, new { @class = "btn btn-primary register" })

                    }
                    @*@Html.ActionLink("Details", "Details", new { id = item.classID }, new { @class = "btn btn-primary btn-large" })*@
                </div>
        </div>
        }
    </div>

    @{
        Html.RenderAction("Classes", "Home");
    }
</div>
