@model IEnumerable<InterserviceApp.Models.is_Class>

@{
    ViewBag.Title = "HomeRegister";
}

<head>
    <link href="~/Content/home.css" rel="stylesheet" type="text/css" />
</head>

<h2>Required Classes</h2>
<hr class="topHR" />

<div class="reqClassContainer">
    @foreach (var item in Model)
    {
        <div class="reqClassDiv">
            @*@Html.DisplayNameFor(model => model.Course.courseCode)*@
            <div class="topBar">
                <p style="text-align:left;">
                    Class Name/Title here  
                    <span style="float:right;">@Html.DisplayFor(modelItem => item.Course.courseCode)</span>
                </p>
            </div>

            <div class="middleBar">
                @Html.DisplayNameFor(model => model.date)
                @Html.DisplayFor(modelItem => item.date)

                @Html.DisplayNameFor(model => model.startTime)
                @Html.DisplayFor(modelItem => item.startTime)

                @Html.DisplayNameFor(model => model.room)
                @Html.DisplayFor(modelItem => item.room)

                @Html.DisplayNameFor(model => model.capacity)
                @Html.DisplayFor(modelItem => item.capacity)

                @Html.DisplayNameFor(model => model.justification)
                @Html.DisplayFor(modelItem => item.justification)

                @Html.DisplayNameFor(model => model.fees)
                @Html.DisplayFor(modelItem => item.fees)


                @*@Html.ActionLink("Details", "Details", new { id = item.classID }, new { @class = "btn btn-primary btn-large" })*@
            </div>
            @Html.ActionLink("Register", "Register", new { id = item.classID }, new { @class = "btn btn-primary register" })

        </div>
    }
</div>

@{
    Html.RenderAction("Classes", "Home");
}