@model IEnumerable<InterserviceApp.Models.is_Class>

@{
    ViewBag.Title = "HomeRegister";
}

<h2>HomeRegister</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Course.courseCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.startTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.room)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.capacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.justification)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fees)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Course.courseCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startTime)
        </td>trello
        <td>
            @Html.DisplayFor(modelItem => item.room)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.capacity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.justification)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fees)
        </td>
        <td>
            @Html.ActionLink("Register", "Register", new { id = item.classID }) |
            @Html.ActionLink("Details", "Details", new { id = item.classID })

        </td>
    </tr>
}

</table>

@{
    Html.RenderAction("Classes", "Home");
}
