@model InterserviceApp.Models.is_Class

@{
    ViewBag.Title = "Register";
}

<head>
    <link href="~/Content/register.css" rel="stylesheet" type="text/css" />
</head>

<div class="registerContainer">
    <h1 class="registerTitle" align="center">Register for the Following Class</h1>
    <hr class="hrRegister"/>

    <div class="regLeft">
        <span>@Html.DisplayNameFor(model => model.Course.courseCode):</span>
        <span>@Html.DisplayFor(model => model.Course.courseCode)</span>
    </div>

    <div class="regRight">
        <span>@Html.DisplayNameFor(model => model.Course.desc):</span>
        <span>@Html.DisplayFor(model => model.Course.desc)</span>
    </div>

    <div class="regLeft">
        <span>@Html.DisplayNameFor(model => model.date):</span>
        <span>@Html.DisplayFor(model => model.date)</span>
    </div>

    <div class="regRight">
        <span>@Html.DisplayNameFor(model => model.startTime):</span>
        <span>@Html.DisplayFor(model => model.startTime)</span>
    </div>

    <div class="regLeft">
        <span>@Html.DisplayNameFor(model => model.room):</span>
        <span>@Html.DisplayFor(model => model.room)</span>
    </div>

    <div class="regRight">
        <span>@Html.DisplayNameFor(model => model.capacity):</span>
        <span>@Html.DisplayFor(model => model.capacity)</span>
    </div>

    <div class="regLeft">
        <span>@Html.DisplayNameFor(model => model.justification):</span>
        <span>@Html.DisplayFor(model => model.justification)</span>
    </div>

    <div class="regRight">
        <span>@Html.DisplayNameFor(model => model.fees):</span>
        <span>@Html.DisplayFor(model => model.fees)</span>
    </div>

    <div class="regHTML">
        @using (Html.BeginForm("Register", "Home", FormMethod.Post))
        {
            <p>* Enter your Badge ID</p>
            <input type="text" name="BadgeID" id="BadgeID" class="badgeInput" />
            <input type="hidden" value="@Model.classID" name="classID" id="classID" />
            <br />
            <p class="secondP">* Select your Supervisor</p>
            @Html.DropDownList("selectedSup", new SelectList(ViewBag.Supervisors), new { @class = "select" })
            <br />
            <input type="submit" value="Send Request to Register" class="btn btn-primary regButton" />
        }
    </div>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>