@model InterserviceApp.Models.is_staffDetails

@{
    ViewBag.Title = "Delete";
}

<div class="regBackground"></div>

<div class="registerContainer">
    <h1 class="registerTitle" align="center">Delete User</h1>
    <hr class="hrRegister" />

    <div class="regLeft">
        <span>@Html.DisplayNameFor(model => model.badgeID):</span>
        <span>@Html.DisplayFor(model => model.badgeID)</span>
    </div>

    <div class="regRight">
        <span>@Html.DisplayNameFor(model => model.fName):</span>
        <span>@Html.DisplayFor(model => model.fName)</span>
    </div>

    <div class="regLeft">
        <span>@Html.DisplayNameFor(model => model.lName):</span>
        <span>@Html.DisplayFor(model => model.lName)</span>
    </div>

    <div class="regRight">
        <span>@Html.DisplayNameFor(model => model.email):</span>
        <span>@Html.DisplayFor(model => model.email)</span>
    </div>

    <div class="regLeft">
        <span>@Html.DisplayNameFor(model => model.dept):</span>
        <span>@Html.DisplayFor(model => model.dept)</span>
    </div>

    <div class="regRight">
        <span>@Html.DisplayNameFor(model => model.phone):</span>
        <span>@Html.DisplayFor(model => model.phone)</span>
    </div>

    <div class="regLeft">
        <span>@Html.DisplayNameFor(model => model.birthdate):</span>
        <span>@Html.DisplayFor(model => model.birthdate)</span>
    </div>

        <div class="regHTML">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </div>
            }
        </div>

        <div class="back-label">
            @Html.ActionLink("Back to List", "Index", "StaffDetails")
        </div>
    </div>

<style>
    .back-label {
        padding-top: 15px;
    }

    .footer, .navbar {
        display: none;
    }

    body {
        background-color: rgba(0,0,0,0.50);
    }
</style>