@model IEnumerable<InterserviceApp.Models.is_staffDetails>

@{
    ViewBag.Title = "Index";
}

<head>
    <link href="~/Content/tables.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/classportal.css" rel="stylesheet" type="text/css" />
</head>

<div class="classPortalNav">
    <span>User Portal</span>
</div>



<div class="currentContentUser">
    @Html.ActionLink("Create a New User", "Create", null, new { @class = "btn btn-primary register createCourseBtn" })

    @using (Html.BeginForm())
    {
        <p>
            <input type="text" name="searchString" value="" />
            <input type="submit" value="Search" />
        </p>
    }


    <input type="button"
           value="Alert users who need to take classes"
           onclick="location.href='@Url.Action("Notify", "StaffDetails")'" 
           class = "btn btn-primary register" />

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.badgeID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.lName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.dept)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.birthdate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.email)
                </th>
                <th></th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.badgeID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dept)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.birthdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.badgeID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.badgeID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.badgeID }) |
                    @Html.ActionLink("Email", "SendEmail", new { id = item.badgeID })
                </td>
            </tr>
        }

    </table>
</div>