@model IEnumerable<InterserviceApp.Models.is_staffDetails>

@{
    ViewBag.Title = "Notify";
}

<head>
    <link href="~/Content/tables.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/classportal.css" rel="stylesheet" type="text/css" />
</head>

<div class="classPortalNav">
    <span>The Following Users Were Notified</span>
</div>

<div class="currentContentUser">
    @Html.ActionLink("Back to Staff List", "Index", null, new { @class = "btn btn-primary register createCourseBtn" })

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.badgeID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.lName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.dept)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.birthdate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.email)
                </th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.badgeID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dept)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.birthdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
            </tr>
        }

    </table>
</div>