@model IEnumerable<InterserviceApp.Models.is_StaffClass>


    @using (Html.BeginForm())
    {
    <input type="text" name="year" class="searchInput" value="" />
    <input type="submit" class="btn btn-primary asdasd" value="Year" />
    }
    Required Classes Completed:

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Class.courseID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Class.Course.desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.approved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.endDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th></th>
    </tr>

    @foreach (var a in ViewBag.TakenReq)
    {
        <tr>
            <td>
                @a.Class.courseID
            </td>
            <td>
                @a.Class.Course.desc
            </td>
            <td>
                @a.approved
            </td>
            <td>
                @a.endDate.Date.ToString("d")
            </td>
            <td>
                @a.status
            </td>
        </tr>
    }


    </table>
 

    Required Classes Needed:

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Class.courseID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Class.Course.desc)
        </th>
        <th></th>
    </tr>

    @foreach (var a in ViewBag.NeededReq)
    {
        <tr>
            <td>
                @a.courseID
            </td>
            <td>
                @a.desc
            </td>
        </tr>
    }


</table>

Registered to take:
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Class.courseID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class.Course.desc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.approved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.endDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>Mark Attendance or Approval</th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Class.courseID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class.Course.desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.approved)
            </td>
            <td>
                @item.endDate.Date.ToString("d")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditStaffClass", new { id = item.id }) 
            </td>
        </tr>
        }

    </table>

@Html.ActionLink("Manually Add Course Attendance", "AddStaffClass", new { id = Model.First().badgeID })