@model IEnumerable<InterserviceApp.Models.is_StaffClass>


    @using (Html.BeginForm())
    {
    <input type="text" name="year" class="searchInput" value="" />
    <input type="submit" class="btn btn-primary asdasd" value="Year" />
    }
    Required Classes Completed:

    @foreach (var a in ViewBag.TakenReq)
    {
    @a.Class.Course.desc
    }

    Required Classes Needed:

    @foreach (var a in ViewBag.NeededReq)
    {
    @a.Class.Course.desc
    }

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Class.courseID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class.Course.desc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.approved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.endDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Class.courseID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class.Course.desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.approved)
            </td>
            <td>
                @item.endDate.Date.ToString("d")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditStaffClass", new { id = item.id }) 
            </td>
        </tr>
        }

    </table>
